!!!
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="keywords", content="captcha, recaptcha, ocr, optical character recognition, ocular character recognition")
        meta(name="description", content="Webpages for Humans: surf the human web")
        meta(name="author", content="Jesse Fulton")
        title Web Biennial 2012 - Jesse Fulton - Webpages for Humans
        style(type="text/css")
            html, body { background-color: black; }
            body{
                background:#000000;
                color:#00FF00;
                font-family:monospace;
            }
            
            .accessGranted{
                position:absolute;
                top:200px;
                background:#333;
                padding:20px;
                border:1px solid #999;
                width:300px;
                left:50%;
                margin-left:-150px;
                text-align:center;
            }
            
            .accessDenied{
                position:absolute;
                top:200px;
                color:#F00;
                background:#511;
                padding:20px;
                border:1px solid #F00;
                width:300px;
                left:50%;
                margin-left:-150px;
                text-align:center;
            }

        script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js")
        script(type="text/javascript", src="/typer.js")
        script(type="text/javascript")
            Typer.speed=3;
            Typer.file='kernel.txt';
            Typer.init();
    body
        #console
        //-
            script(type="text/javascript")
                var dest = window.location.search ? window.location.search : window.location.origin + "/browse/" + window.location.origin + "/about";
                var browser = window.open(dest, "WebpagesForHumans", "width=842,height=751,directories=no,location=no,menubar=no,resizable=no,scrollbars=no,status=no,titlebar=no,toolbar=no");
                if(!browser)
                    alert('a popup was blocked. please make an exception for this site in your popup blocker and try again');
                    
        script(type="text/javascript")
            $(function(){
                var typingInterval;
                
                var showBrowser = function() {
                    var dest = window.location.search ? window.location.search : window.location.origin + "/browse/" + window.location.origin + "/about";
                    var browser = window.open(dest, "WebpagesForHumans", "width=842,height=751,directories=no,location=no,menubar=no,resizable=no,scrollbars=no,status=no,titlebar=no,toolbar=no");
                    if(!browser)
                        alert('a popup was blocked. please make an exception for this site in your popup blocker and try again');
                };
                
                /*
                var addText = function() {
                    if (!Typer.addText()) {
                        console.log('done');
                        window.clearInterval(typingInterval);
                    }
                };
                */
                typingInterval = window.setInterval(function() {
                    if (!Typer.addText()) {
                        console.log('done');
                        window.clearInterval(typingInterval);
                        showBrowser();
                    }
                }, 20);
                
                /*
                $( document ).keydown(
                    function ( event ) { 
                        Typer.addText( event ); //Capture the keydown event and call the addText, this is executed on page load
                    }
                );
                */
            });