!!!
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description", content="")
		meta(name="author", content="")
		title Webpages for Humans
		link(rel='stylesheet', href='/bootstrap-ui/css/bootstrap.css')
	body
		#header.container
			.hero-unit
				h1 Webpages for Humans		
			ul.nav.nav-tabs
				li.active: a(href="#list", data-toggle="tab") Gallery
				li: a(href="#create", data-toggle="tab") Create
				li: a(href="#about", data-toggle="tab") About
		#content.container
			.tab-content
				#list.tab-pane.active
					h1 Screenshots
					.row
						- if (screenshots.length > 0)
							ul.thumbnails
								- each screen in screenshots
										li.span3.offset1
											a(href="/#{screen.url}", style="height:180px;display:block;overflow:hidden")
												img(src="/#{screen.url}", width="260px")
											h5 #{screen.title}
												a(href="#{screen.url}") #{screen.url}
				#create.tab-pane
					h1 Create
					.form
						p Enter a URL below to CAPTCHA-fy that page
						p: input(type="text", name="generateUrl", id="generateUrl")
						p: a.btn.btn-primary(id="doGenerate", href="#") Generate!
				#about.tab-pane
					.row
						.span4
							h1 What is this?
							p 
								strong Webpages for Humans
								|  is part of 
								a(href="http://danm.ucsc.edu/~jesse") Jesse Fulton
								| 's MFA thesis at the 
								a(href="http://danm.ucsc.edu/") Digital Arts + New Media program at UC Santa Cruz
								| .
							p
								strong Webpages for Humans
								|  is a web application that creates a version of the Internet which is only readable by humans. Screen-scraping technology is used to generate images of webpages which are then processed by 
								a(href="http://en.wikipedia.org/wiki/Optical_character_recognition") Optical Character Recognition software
								|  to find machine-readable text on the page. This text is then 
								strong: em "CAPTCHA-fied"
								|  to create a distorted and manipulated rendering of that webpage. This previously machine-readable text, is distorted using the same algorithms used in CAPTCHA tests to ensure the computer programs can no longer decipher them.
							p
								| This site is part of a larger project which explores our relationship with digital representations of physical and cultural artifacts.
						.span4
							h1 CAPTCHA-fy?
							p
								| CAPTCHAs are the images of distorted text you must translate to do things like sign up for an account or post a comment on a website. They're used to prevent spam by determining if the user of a site is a human, or a computer program (often referred to as a "bot.")
							div(style="text-align:center;")
								img(src="/images/captcha-example.png", width="200px")
								p
									small A familiar CAPTCHA test
							p	
								| A CAPTCHA test generally consists of two text-based images: a word which could not be deciphered by 
								a(href="http://en.wikipedia.org/wiki/Optical_character_recognition") OCR software
								|  (the "unknown" word); and a second word which the OCR software 
								em could
								|  decipher (the "known" word.) The user is then prompted to type in both words, with the assumption being that if the user can correctly identify the known word, then their interpretation of the 
								em unknown
								|  word is also likely to be correct
								sup: a(href="http://www.google.com/recaptcha/learnmore") source
								| . This human translation for the unknown word is then stored, filling in the gaps remaining from the OCR translation.

						.span4
							h1 CAPTCHA-why?
							p
								| When Google digitizes physical books (as part of its Google Books project),
								a(href="http://en.wikipedia.org/wiki/Optical_character_recognition") OCR software
								|  is used to "read" the scanned pages and make it searchable and indexable. However, the computer algorithms fail occasionally due to scan irregularites, low print quality, or similar problems. When this happens, the only way to decipher these portions of the digitized text is with a human eye.
							p
								| Google's massive attempt to 
								a(href="http://www.pcworld.com/article/202803/google_129_million_different_books_have_been_published.html") digitize every book in existence								
								|  requires an enourmous amount of human labour. 
								a(href="http://www.google.com/recaptcha") reCAPTCHA
								| , the most popular CAPTCHA service on the Internet, fulfills this need by distributing this labour as micro-tasks across the Internet. In exchange for access to enhanced functionality, web users provide the labour required to translate that which computers cannot.
								
					#footer.container
						.row.alert(style="background-color:#222;color:#eee")
							.span4.offset4
								i.icon-question-sign.icon-white 
								| interested in the tech? check out 
								a(href="https://github.com/jessefulton/webpages-for-humans") the code

			script(type="text/javascript", src="http://platform.twitter.com/widgets.js")
			script(type="text/javascript", src="/bootstrap-ui/js/jquery.js")
			script(type='text/javascript', src='/bootstrap-ui/js/bootstrap-transition.js')
			script(type='text/javascript', src='/bootstrap-ui/js/bootstrap-tab.js')
			script(type='text/javascript', src='/bootstrap-ui/js/bootstrap-modal.js')
			script(type="text/javascript")
				//$('#captcha-image').modal({"show":false})
				var doGenerate = function() {
					var url = document.getElementById("generateUrl").value;
					window.location = "/" + url;
				}

				$("#doGenerate").on('click', doGenerate);
				$("#generateUrl").on('keypress', function(event) {
					if (event.which == 13) {
						$("#doGenerate").click();
						//doGenerate();
					}
				});