!!!
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description", content="")
		meta(name="author", content="")
		title Webpages for Humans
		link(rel='stylesheet', href='/bootstrap-ui/css/bootstrap.css')
	body
		#header.container
			.hero-unit
				h1 Webpages for Humans		
			ul.nav.nav-tabs
				li.active: a(href="#list", data-toggle="tab") Gallery
				li: a(href="#create", data-toggle="tab") Create
				li: a(href="#about", data-toggle="tab") About
		#content.container
			.tab-content
				#list.tab-pane.active
					h1 Screenshots
					.row
						- if (screenshots.length > 0)
							ul.thumbnails
								- each screen in screenshots
										li.span3.offset1
											a(href="/#{screen.url}", style="height:180px;display:block;overflow:hidden")
												img(src="/#{screen.url}", width="260px")
											h5 #{screen.title}
												a(href="#{screen.url}") #{screen.url}
				#create.tab-pane
					h1 Create
					.form
						p Enter a URL below to CAPTCHA-fy that page
						p: input(type="text", name="generateUrl", id="generateUrl")
						p: a.btn.btn-primary(id="doGenerate", href="#") Generate!
				#about.tab-pane
					.row
						.span4
							h1 What is this?
							p 
								strong Webpages for Humans
								|  is part of 
								a(href="http://danm.ucsc.edu/~jesse") Jesse Fulton
								| 's MFA thesis at the 
								a(href="http://danm.ucsc.edu/") Digital Arts + New Media program at UC Santa Cruz
								| .
							p
								strong Webpages for Humans
								|  is a web application that creates a version of the Internet which is only readable by humans. Screen-scraping technology is used to generate images of webpages which are then processed by 
								a(href="http://en.wikipedia.org/wiki/Optical_character_recognition") Optical Character Recognition software
								|  to find machine-readable text on the page. This text is then 
								strong: em CAPTCHA-fied
								|  to create a distorted and manipulated rendering of that webpage. All text on these pages which had previously been machine-readable, is distorted using the same algorithms used in CAPTCHA tests to ensure the computer programs cannot decipher text.
						.span4
							h1 CAPTCHA-fy?
							p
								| CAPTCHAs are the images of distorted text you must translate to do things like sign up for an account or post a comment on a website,  
								a(href="#captcha-image", data-toggle="modal") like this
								| . They're used to prevent spam by determining if the user of a site is a human, or a computer program (often referred to as a "bot.")
							p	
								| A CAPTCHA test generally consists of two images of text: a word that cannot be read correctly by 
								a(href="http://en.wikipedia.org/wiki/Optical_character_recognition") OCR software
								| ; and another word for which the answer is already known. The user is then asked to read both words. If they solve the one for which the answer is known, the system assumes their answer is correct for the new one
								sup: a(href="http://www.google.com/recaptcha/learnmore") source
								| . The human translation is then stored, filling in the gaps remaining from the computer's efforts.
							#captcha-image.modal.fade
								.modal-header
									a.close(data-dismiss="modal") x
									h3 Sample CAPTCHA
								.modal-body(style="text-align:center;")
									img(src="/images/captcha-example.png")
						.span4
							h1 CAPTCHA-why?
							p
								| When Google digitizes physical books (as part of its Google Books project),
								a(href="http://en.wikipedia.org/wiki/Optical_character_recognition") OCR software
								|  is used to "read" the scanned pages and make it searchable and indexable. However, sometimes the computer algorithms fail on certain words due to scan irregularites, low print quality, or similar problems. At this point, the only way to decipher the digitized text with a human eye.
							p
								| This massive undertaking requires an enourmous amount of human labour (Google is attempting to digitize every piece of writing in existence.) 
								a(href="http://www.google.com/recaptcha") reCAPTCHA
								|  is the most popular CAPTCHA service on the Internet, and is used to distribute this task of human translation across the web.
								
					#footer.container
						.row.alert(style="background-color:#222;color:#eee")
							.span4.offset4
								i.icon-question-sign.icon-white 
								| interested in the tech? check out 
								a(href="https://github.com/jessefulton/webpages-for-humans") the code

			script(type="text/javascript", src="http://platform.twitter.com/widgets.js")
			script(type="text/javascript", src="/bootstrap-ui/js/jquery.js")
			script(type='text/javascript', src='/bootstrap-ui/js/bootstrap-transition.js')
			script(type='text/javascript', src='/bootstrap-ui/js/bootstrap-tab.js')
			script(type='text/javascript', src='/bootstrap-ui/js/bootstrap-modal.js')
			script(type="text/javascript")
				//$('#captcha-image').modal({"show":false})
				var doGenerate = function() {
					var url = document.getElementById("generateUrl").value;
					window.location = "/" + url;
				}

				$("#doGenerate").on('click', doGenerate);
				$("#generateUrl").on('keypress', function(event) {
					if (event.which == 13) {
						$("#doGenerate").click();
						//doGenerate();
					}
				});